.stage__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.stage__wrapper--running {
  background: url("https://media.giphy.com/media/l9Tllo1thElT5gvVOU/giphy.gif") center center no-repeat;
  background-size: cover;
}

.stage__content {
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  flex-grow: 1;
}

.stage__form {
  display: flex;
  flex-direction: row;
}

.stage__input {
  /* Style Border */
  border: 1px solid white;
  border-radius: 3px;

  /* Focus Border */
  outline: none;

  /* Input Styling */
  font-size: 2rem;
  color: white;

  /* Padding and Size */
  padding: 0.5rem;

  background-color: transparent;
  flex-grow: 1;
}

.stage__button {
  margin-left: 5px;
  flex-basis: 200px;
}

.stage__button:hover {
  color: hotpink;
  background-color: white;
  transition: 0.25s background-color ease-out;
}